{% extends '__base__.html' %}

{% block title %}用户{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page,
            currentPage: '1'
        },
        methods: {
            handleSizeChange (val) {

            },
            handleCurrentChange (val) {

            }
        }
    });
}

window.onload = function () {
    const index = {{ page_index }}
    axios.get('/api/users', {
        page: index
    })
    .then(function (data) {
        data = data.data

        if (data.error) {
            return alert('error status: ' + data.error + 'message: ' + data.message)
        } else {
            $('#loading').hide()
            initVM(data)
        }
    })
    .catch(function (error) {
    })
}
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li class="uk-active"><span>用户</span></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th >名字</th>
                    <th >电子邮件</th>
                    <th >注册时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" >
                    <td>
                        <span v-text="user.name"></span>
                        <span v-if="user.admin" style="color:#d05"><i class="uk-icon-key"></i> 管理员</span>
                    </td>
                    <td>
                        <a :href="'mailto:'+user.email" v-text="user.email"></a>
                    </td>
                    <td>
                        <span v-text="new Date(user.created_at * 1000).toLocaleString()"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="block">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[7, 10, 15]"
            :page-size="page.page_size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="page.page_total">
          </el-pagination>
        </div>

    </div>

{% endblock %}
